body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signIn {
  text-align: center;
  margin-top: -200px;
}

.cats{
  padding: 100px;
  text-align: center;
}

.addStudent {
  text-align: center;
}

.title{
  text-align: center;
}

/*a{
  text-align: center;
}*/